* {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

/* ------- NAVBAR -------- */

.btn-contact {
  letter-spacing: 0.1em;
  padding: 10px 20px;
  background-color: #1e2b37;
  border: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.btn-contact:hover {
  background-color: #149a80;
  color: #1e2b37;
  transition: all 0.3s ease-in-out;
}

/* ------- SLIDER -------- */
.slider__container {
  display: flex;
  box-align: center;
  align-items: center;

  justify-content: center;
}

.slider__img {
  background: no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.alice-carousel__dots {
  position: absolute !important;
  left: 50% !important;
  top: 90% !important;
  transform: translate(-50%, -50%) !important;
}
.alice-carousel__dots li {
  height: 10px !important;
  width: 10px !important;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.slider__text {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  top: 70%;
  transform: translate(-50%, -50%);
}
.slider__title {
  font-size: 5rem;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 2px 2px #0e0e0e;
  text-transform: uppercase;
}

.slider__btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  line-height: 45px;
  max-width: 300px;
  height: 50px;
  margin-top: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.slider__btn:hover {
  text-decoration: none;
}

/*btn_background*/
.slider__btn-effect {
  color: #fff;
  padding-top: 2px;
  border: 4px solid transparent;
  background-color: #1e2b37;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.slider__btn-effect:hover {
  background-color: #149a80;
  color: #1e2b37;
}

/*btn_text*/
.slider__btn-effect button {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.slider__btn-effect:hover button {
  letter-spacing: 0.13em;
  color: black;
}

/*highlight*/
.slider__btn-effect:after {
  background: #149a80;
  border: 0px solid #000;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.slider__btn-effect:hover:after {
  background: #149a60;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.slider__btn:hover {
  text-decoration: none;
}

/* HOME-SERVICES */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 6.5vw);
  grid-gap: 8px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__listing {
  position: relative;
}
.gallery__title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.gallery__listing:hover .gallery__title {
  opacity: 1;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

/* REUSUABLE CSS */
.paragraph__text {
  font-size: 1.15rem;
  line-height: 1.6;
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 90px;
}
.logo {
  height: 75px;
}
.contact__details-info ul {
  list-style-type: none;
}
.contact__details-info li {
  padding-top: 5px;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a:hover {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.fas {
  padding-right: 5px;
}
.fab {
  transition: all 0.3s ease-in-out;
}
/* HOMEPAGE- REVIEWS */
.card-body-reviews {
  border: 1px solid #ffffff;
  height: 300px;
  border-radius: 13px;
  background: #f1efef;
  box-shadow: 19px 19px 38px #d2d0d0, -19px -19px 38px #ffffff;
  transition: all 0.3s ease-in-out;
}

.card-body-reviews:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.btn__reviews {
  margin-top: 45px;
  margin-bottom: 70px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

/* VIDEO PLAYER */
.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

/* FOOTER */
.logo-footer {
  height: 35px;
}
.footer {
  background-color: #2c3e50;
  color: white;
  display: flex;
}
.footer__social-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}
.footer__social-info span {
  font-size: 2rem;
  padding: 10px;
}
.contact__details-info {
  list-style: none;
}

.designed {
  text-align: center;
  margin-left: 120px;
  color: #a0a0a0;
}

.fa-linkedin {
  color: #0e76a8;
  transition: all 0.5s ease-in-out;
}
.fa-linkedin:hover {
  color: #0c5c82;
  transition: all 0.5s ease-in-out;
}
.fa-facebook-square {
  color: #0e76a8;
  transition: all 0.5s ease-in-out;
}
.fa-yelp {
  color: #c41200;
  transition: all 0.5s ease-in-out;
}
.fa-facebook-square:hover {
  color: #0c5c82;
  transition: all 0.5s ease-in-out;
}
.fa-yelp:hover {
  color: #8c1104;
  transition: all 0.5s ease-in-out;
}
.fa-instagram {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.5s ease-in-out;
}
.fa-instagram:hover {
  transition: all 1s ease-in-out;
}
.fa-youtube {
  transition: all 0.5s ease-in-out;
  color: #ff0000;
}

.fa-youtube:hover {
  transition: all 0.5s ease-in-out;
  color: #ff000075;
}
/* JUMBO COMPONENT */
.jumbo__image {
  background: url('https://bbb-construction.s3-us-west-1.amazonaws.com/8.jpeg')
    no-repeat fixed bottom;
  background-size: cover;
  color: #efefef;
  height: 200px;
  position: relative;
  z-index: -2;
  margin: 0;
}
.jumbo__overlay {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  right: 0;
  z-index: -1;
}
.jumbo__header {
  padding: 10px;
}

/* ABOUT-PAGE */
.about__image {
  margin: 100px auto;
}
.about__image img {
  width: 100%;
  height: 100%;
}

.about__story-text {
  margin: 100px auto;
  width: 100%;
}
.about__story-text h4 {
  font-weight: 700;
  line-height: 1.4;
}
.about__story-text p {
  padding-top: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  border-bottom: 1px solid black;
}

/* CONTACT PAGE */
.contact__container {
  width: 80%;
  margin: 50px auto;
}
.contact__information {
  text-align: center;
}
.contact__information p {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: justify;
}

.contact__details {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  height: 220px;
  border-radius: 3px;
  border: 1px solid #9a9aa236;
  margin-bottom: 70px;
}

.contact_logo {
  margin: 20px;
}

/* PROJECTSPAGE */
.hover-effect {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  border: 1px solid #f2f2f2;
}

.hover-effect:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 10px #b3a8a8, -5px -5px 10px #f2e4e4;
  opacity: 1;
}
.img-card {
  max-height: 300px;
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}
.img-card-small {
  height: 300px;
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}
.project__header {
  margin-bottom: 30px;
}

/* --------- */
/* Modal */

.modal__container {
  max-width: 900px;
}

.modal__image {
  background: no-repeat center center fixed;
  height: 80vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

/* SERVICESPAGE */
.img-rounded {
  max-height: 300px;
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  margin-left: 30px;
}
.image-rounded-title {
  font-size: 1.5rem;
  padding-left: 30px;
}
.service__quality-list {
  list-style-type: circle;
  font-size: 1.1rem;
  line-height: 1.5;
}

.image__header {
  background: radial-gradient(#149a80, #2c3e50);
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 3.5rem;
  margin-bottom: 30px;
}

/* MEDIA-QUERIES */

/* @media only screen and (min-width: 1200px) {
} */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /* footer */
  .designed {
    text-align: end;
    margin-left: 80px;
  }
  /* Reusuable css */
  .paragraph__text {
    font-size: 1rem;
  }
  /* services */
  .img-rounded {
    max-height: 250px;
    min-height: 200px;
    margin-left: 30px;
  }
  .image-rounded-title {
    padding-left: 30px;
    font-size: 1.2rem;
  }
  /* aboutpage */
  .about__story-text h4 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .about__story-text p {
    font-size: 1rem;
  }
  /* homepage */
  .slider__title {
    font-size: 4rem;
  }
  .section__title h1 {
    font-size: 2.5rem;
  }
  .section__title h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1023px) {
  /* footer  */

  .container__footer {
    margin: 0 auto;
  }
  .footer__social-info {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
  }
  .footer__social-info span {
    font-size: 1.7rem;
    padding: 0;
  }
  .designed {
    margin: 0;
  }
  /* homepage */
  .card-text {
    font-size: 0.8rem;
  }
  .gallery__title {
    font-size: 1.7rem;
  }
  .slider__title {
    font-size: 3.7rem;
  }
  .section__title h1 {
    font-size: 2.3rem;
  }
  .section__title h4 {
    font-size: 1.1rem;
  }
  /* services   */
  .img-rounded {
    min-height: 240px;
    min-height: 190px;
    margin: 3px;
  }
  .image-rounded-title {
    font-size: 1.2rem;
    padding-right: 30px;
  }
  /* reusablecss */
  .paragraph__text {
    font-size: 1rem;
  }
  .service__quality-list {
    font-size: 0.9rem;
  }
  .about__image {
    height: 500px;
  }
  .about__image img {
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* homepage */
  .slider__title {
    font-size: 3.65rem;
  }
  .section__title h1 {
    font-size: 2.2rem;
  }
  .section__title h4 {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.82rem;
  }
  .gallery__title {
    font-size: 1.5rem;
  }
  .btn__reviews {
    margin-bottom: 10px;
  }
  /* footer  */
  .footer__social-info {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
  }
  .footer__social-info span {
    font-size: 1.7rem;
    padding: 0;
  }
  .designed {
    margin: 0;
    font-size: 0.8rem;
  }
  .contact__details-info li {
    font-size: 0.9rem;
    margin: 5px;
  }
  /* aboutpage */
  .about__story-text h4 {
    font-size: 1rem;
    line-height: 1.5;
  }
  .about__story-text p {
    font-size: 0.9rem;
  }
  .about__image {
    height: 400px;
  }
  .about__image img {
    object-fit: cover;
  }
  /* Reusuable css */
  .paragraph__text {
    font-size: 1rem;
  }
  .paragraph__text-pad {
    font-size: 1rem;
    padding: 30px 0 !important;
  }
  .image-rounded-title {
    font-size: 1.1rem;
  }
  .service__quality-list {
    font-size: 0.9rem;
  }
  .modal__container {
    max-width: 700px;
  }
  .modal__image {
    height: 70vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* homepage */
  .slider__title {
    font-size: 3.5rem;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .btn__reviews {
    margin-bottom: 30px;
  }

  .services__text p {
    font-size: 1.2rem;
    padding: 20px 70px;
  }
  .services__text h1 {
    font-size: 2.5rem;
  }
  .gallery__title {
    font-size: 2em;
  }

  .gallery {
    grid-gap: 5px;
    grid-template-rows: repeat(5, 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* ABOUT-PAGE */
  .about__image {
    margin: 0 auto;
  }

  .about__story-text {
    margin: 40px auto;
    padding: 0 20px;
  }
  .col-responsive {
    display: flex;
    flex-direction: column;
  }

  /* PROJECTS */
  .project__header {
    text-align: center;
    margin-top: 30px;
  }
  /* SERVICES */

  .image-rounded-title {
    padding-left: 30px;
    font-size: 1.2rem;
  }

  /* reusable */
  .paragraph__text {
    font-size: 0.95rem;
  }
  .service__quality-list {
    font-size: 0.9rem;
  }

  .image__header {
    font-size: 2.1rem;
  }
  /* Jumbo */
  .jumbo__header {
    padding-top: 20px;
  }

  /* CONTACT PAGE */
  .contact__container {
    width: 100%;
  }

  .contact__details {
    width: 100%;
  }
  .logo {
    height: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  /* homepage */

  .slider__btn {
    font-size: 15px;
    width: 60%;
  }
  .slider__title {
    font-size: 2.5rem;
  }
  .gallery {
    grid-gap: 5px;
    grid-template-rows: repeat(5, 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .section__title h1 {
    font-size: 2.3rem;
  }
  .section__title h4 {
    font-size: 1.1rem;
  }

  /* footer */
  .container__footer {
    margin: 0 auto;
    text-align: center;
  }
  .footer__social-info {
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
  }
  .footer__social-info span {
    font-size: 1.7rem;
  }
  .designed {
    margin: 0;
  }
  /* About  */

  .about__story-text {
    margin: 40px auto;
  }
  .about__story-text h4 {
    font-size: 1rem;
    line-height: 1.5;
  }
  .about__story-text p {
    font-size: 0.9rem;
  }
  .about__image {
    margin: 0 auto;
  }
  .image__header {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .paragraph__text {
    font-size: 1rem;
    padding: 50px 10px !important;
  }
  .image-rounded-title {
    font-size: 1rem;
    padding-bottom: 30px;
  }
  .contact__container {
    width: 100%;
  }

  .contact__details {
    width: 100%;
  }
  .contact_logo {
    display: none;
  }
  .contact__information h2 {
    font-size: 1.6rem;
  }
  .paragraph__text {
    font-size: 1rem;
    padding: 10px 0 !important;
  }
  .service__quality-list {
    font-size: 0.8rem;
  }
  .service__subheader {
    font-size: 1.3rem;
  }
  .logo {
    height: 50px;
  }
  .img-card-small {
    height: 150px;
    min-height: 150px;
  }
}
