* {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

.fas {
  padding-right: 1px;
}
/* ------- NAVBAR -------- */
.btn-estimate {
  padding: 10px 30px;
  background: #149a80;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}
.btn-estimate:hover {
  background: #149a60;
}

.activeLink {
  background-color: #149a60;
}

/* ------- SLIDER -------- */
.slider__container {
  display: flex;
  box-align: center;
  align-items: center;

  justify-content: center;
}

.slider__img {
  background: no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.alice-carousel__dots {
  position: absolute !important;
  left: 50% !important;
  top: 90% !important;
  transform: translate(-50%, -50%) !important;
}
.alice-carousel__dots li {
  height: 10px !important;
  width: 10px !important;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.slider__text {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  top: 70%;
  transform: translate(-50%, -50%);
}
.slider__title {
  font-size: 5em;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 2px 2px #0e0e0e;
  text-transform: uppercase;
}

.slider__btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  line-height: 45px;
  max-width: 300px;
  height: 50px;
  margin-top: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.slider__btn:hover {
  text-decoration: none;
}

/*btn_background*/
.slider__btn-effect {
  color: #fff;
  padding-top: 7px;
  border: 4px solid transparent;
  background-color: #1e2b37;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.slider__btn-effect:hover {
  background-color: #149a80;
  color: #1e2b37;
}

/*btn_text*/
.slider__btn-effect button {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.slider__btn-effect:hover button {
  letter-spacing: 0.13em;
  color: black;
}

/*highlight*/
.slider__btn-effect:after {
  background: #149a80;
  border: 0px solid #000;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.slider__btn-effect:hover:after {
  background: #149a60;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.slider__btn:hover {
  text-decoration: none;
}

/* HOME-SERVICES */
.gallery__main-title {
  text-align: center;
  margin-bottom: 50px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 6.5vw);
  grid-gap: 8px;

  /* middle 
 margin: 0 auto;
  */
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__listing {
  position: relative;
}
.gallery__title {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__listing:hover .gallery__title {
  opacity: 1;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

/* REUSUABLE CSS */
.section__title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 90px;
}
.logo {
  height: 50px;
  width: 200px;
}

.contact__details-info ul {
  list-style-type: none;
}
.contact__details-info li {
  padding-top: 5px;
}

/* HOMEPAGE- REVIEWS */
.card-body-reviews {
  border: 1px solid #ffffff;
  height: 300px;
  border-radius: 13px;
  background: #f1efef;
  box-shadow: 19px 19px 38px #d2d0d0, -19px -19px 38px #ffffff;
  transition: all 0.3s ease-in-out;
}

.card-body-reviews:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.btn__reviews {
  margin-top: 45px;
  margin-bottom: 70px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

/* VIDEO PLAYER */
.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

/* FOOTER */
.footer {
  background-color: #2c3e50;
  color: white;
}
.footer__social-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}
.footer__social-info span {
  font-size: 2rem;
  padding: 10px;
}

.footer__social-icons span {
  padding: 10px;
}

.designed {
  text-align: center;
  margin-left: 120px;
  color: #a0a0a0;
}
/* JUMBO COMPONENT */
.jumbo__image {
  background: url('https://bbb-construction.s3-us-west-1.amazonaws.com/8.jpeg')
    no-repeat fixed bottom;
  background-size: cover;
  color: #efefef;
  height: 200px;
  position: relative;
  z-index: -2;
  margin: 0;
}
.jumbo__overlay {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* ABOUT-PAGE */
.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.about__image img {
  width: 100%;
  height: 100%;
}

.about__story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__story-text {
  width: 80%;
}
.about__story-text h4 {
  font-weight: 700;
  line-height: 1.4;
  width: 100%;
}
.about__story-text p {
  padding-top: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  border-bottom: 1px solid black;
}

/* CONTACT PAGE */
.contact__container {
  width: 80%;
  margin: 50px auto;
}
.contact__information {
  text-align: center;
}
.contact__information p {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: justify;
}

.contact__details {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  height: 220px;
  border-radius: 3px;
  border: 1px solid #9a9aa236;
  margin-bottom: 70px;
}

.contact_logo {
  margin: 20px;
}

.form {
  margin: 75px;
}

.form__outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.form__outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.form__outer li label,
.form__outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.form__outer > li > label,
.form__outer li p {
  flex: 1 0 120px;
  max-width: 125px;
}

.form__outer > li > label + * {
  flex: 1 0 230px;
}

.form__outer li p {
  margin: 0;
}

.form__outer li input,
.form__outer li textarea {
  padding: 15px;
  background-color: #e8e4e4;
  color: black;
  border: none;
}

.form__outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

/* PROJECTSPAGE */
.hover-effect {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  border: 1px solid #f2f2f2;
}

.hover-effect:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 10px #b3a8a8, -5px -5px 10px #f2e4e4;
  opacity: 1;
}
.img-card {
  max-height: 300px;
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.testing {
  width: 100%;
}

/* --------- */
/* Modal */

.modal-screen-bg {
  background-color: #f2f2f2;
}

.modal-screen-body {
  height: 50%;
  width: 100%;
}

.modal-screen-image {
  background: no-repeat center center fixed;
  height: 90vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
