main {
  min-height: 80vh;
}

.fas {
  padding-right: 0.8px;
}
/* ------- NAVBAR -------- */
.btn-estimate {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #149a80;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}
.btn-estimate:hover {
  background: #149a60;
}

/* ------- SLIDER -------- */
.slider__container {
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  justify-content: center;
}
.slider__img {
  background: no-repeat center center fixed;
  height: 84vh;
  opacity: 0.9;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.slider__text {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  top: 70%;
  transform: translate(-50%, -50%);
}
.slider__title {
  font-size: 5em;
  color: #2c3e50;
  font-weight: 800;
  text-transform: uppercase;
}

.slider__btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  line-height: 45px;
  max-width: 300px;
  height: 50px;
  margin-top: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.slider__btn:hover {
  text-decoration: none;
}

/*btn_background*/
.slider__btn-effect {
  color: #fff;
  padding-top: 7px;
  border: 4px solid transparent;
  background-color: #1e2b37;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.slider__btn-effect:hover {
  background-color: #149a80;
  color: #1e2b37;
}

/*btn_text*/
.slider__btn-effect button {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.slider__btn-effect:hover button {
  letter-spacing: 0.13em;
  color: black;
}

/*highlight*/
.slider__btn-effect:after {
  background: #149a80;
  border: 0px solid #000;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
.slider__btn-effect:hover:after {
  background: #149a60;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.slider__btn:hover {
  text-decoration: none;
}

/* HOME-SERVICES */

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 50px;
  margin: 0 auto;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__listing {
  position: relative;
}
.gallery__title {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  z-index: 10;
  position: absolute;
  height: 100%;
  margin-top: 49px;
  width: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__listing:hover .gallery__title {
  opacity: 1;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.service__title {
  font-size: 2rem;
  margin: 0;
  color: #149a80;
  text-align: center;
}
